@media screen and (min-width: 750px) {
  .page {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    gap: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  .page {
    gap: 8rem;
  }

  .title {
    font-size: 3.6rem;
    padding-left: 1.2rem;
  }

  .form__title {
    font-size: 1.8rem;
  }

  label {
    font-size: 1.2rem;
  }

  .form__input input::placeholder,
  select {
    font-size: 1.6rem;
  }

  .card__text {
    font-size: 1.6rem;
  }

  .card__price:not(:last-child) {
    font-size: 1.6rem;
  }

  .cart__shipping p:not(:last-child),
  .cart__total p:not(:last-child) {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1329px) {
  .title {
    padding-left: 12rem;
  }
}
