:root {
  --grey-1: #4e5150;
  --grey-2: #828282;
  --grey-3: #e0e0e0;
  --grey-4: #f2f2f2;
  --grey-5: #333333;
  --grey-6: #bdbdbd;
  --orange: #f2994a;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding: 1rem;
  color: var(--grey-1);
}

.title {
  font-size: 2.4rem;
  padding: 1.8rem 0;
}

/* CART */
.cart {
  border-radius: 12px;
  background-color: var(--grey-4);
  padding: 2.3rem 2.3rem 0.8rem;
}

.cart__product {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.cart__image {
  width: 40%;
}

.cart__image img {
  width: 100%;
  border-radius: 12px;
}

.cart__info {
  width: 12rem;
}

.card__text {
  font-size: 1.2rem;
}

.cart__price {
  display: flex;
  gap: 1.5rem;
  font-size: 1.4rem;
  color: var(--orange);
  padding: 0.8rem 0 3.8rem;
}

.cart__price p:last-child {
  color: var(--grey-1);
  font-size: 1rem;
  text-decoration: line-through;
}

.cart__quantity {
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  border: solid 1px var(--grey-2);
  padding: 1rem 1rem;
  font-size: 1.6rem;
}

.btn__plus,
.btn__minus {
  background-color: var(--grey-3);
  border: none;
  padding: 0.4rem;
  border-radius: 5px;
  cursor: pointer;
}

.cart__icon {
  color: var(--grey-2);
}

.cart__amount {
  margin-top: 10rem;
}

.cart__shipping,
.cart__total {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  color: var(--grey-5);
  border-top: 1px solid var(--grey-6);
  padding: 1rem 0;
}

/* FORM */
.form {
  margin-top: 3.8rem;
}

.form__contact {
  margin-bottom: 3.8rem;
}

.form__title {
  font-size: 1.4rem;
  color: var(--grey-5);
  padding-bottom: 1rem;
}

.form__input {
  border: 1px solid var(--grey-2);
  border-radius: 12px;
  padding: 1.2rem 0.8rem;
  margin: 0.4rem 0 1.2rem 0;
}

.form__input input,
select {
  width: 90%;
  border: none;
  color: var(--grey-5);
  font-family: inherit;
}

.form__input input::placeholder,
select {
  color: var(--grey-2);
  font-family: inherit;
  font-size: 1.2rem;
}

#name::placeholder {
  color: var(--grey-5);
}

.form *:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem rgba(253, 242, 233, 0.637);
}

.form__icon {
  font-size: 1.4rem;
  color: var(--grey-2);
  padding-right: 0.8rem;
}

.form__postal-country {
  display: flex;
  gap: 2rem;
}

.form__postal-country div {
  width: 100%;
}

.form__postal-country .form__input {
  display: flex;
  align-items: center;
}

.form__btn-submit {
  padding: 1.4rem 3.6rem;
  font-family: inherit;
  border: none;
  background-color: var(--orange);
  color: white;
  font-size: 1.6rem;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 1.8rem;
}
